<!DOCTYPE html>

<html lang="en">
<head>

  <title>Attendance System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>

<body>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center;padding-top: 80px;border: 3px solid grey;">
                <div class="card border-primary mb-3" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Cloud Attendance System</h2>
                    <i class='fas fa-cloud' style='font-size:150px;color:orangered'></i>
                    <h3 class="card-header info-color white-text text-center py-4">
                        <strong style="color: blue;">Login</strong>
                    </h3>
                
                    <form method="POST">
                      {% csrf_token %}
      
                      {{form.as_p}}

                        <button type="submit" class="btn btn-primary">Log In</button>
                      </form>
                
                </div>
                
                </div>
                <!-- Material form subscription -->
            </div>
            <div class="col-sm-4"></div>
        </div>

    </div>
</body>
</html>