packages:
  yum:
    python3-devel: []
    mariadb105-devel: []
    libjpeg-turbo-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Attendance_System.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Attendance_System.settings

container_commands:
  01_migrate:
    command: "source /opt/elasticbeanstalk/deployment/env && source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/elasticbeanstalk/deployment/env && source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  03_createsuperuser:
    command: "source /opt/elasticbeanstalk/deployment/env && source /var/app/venv/*/bin/activate && python manage.py shell -c \"import os; from django.contrib.auth import get_user_model; U=get_user_model(); u=os.environ.get('DJANGO_SUPERUSER_USERNAME','admin'); p=os.environ.get('DJANGO_SUPERUSER_PASSWORD',''); e=os.environ.get('DJANGO_SUPERUSER_EMAIL',''); U.objects.filter(username=u).exists() or (p and U.objects.create_superuser(u,e,p))\""
    leader_only: true
