packages:
  yum:
    python3-devel: []
    mariadb105-devel: []
    libjpeg-turbo-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Attendance_System.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Attendance_System.settings

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  03_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && python manage.py createsuperuser --noinput || true"
    leader_only: true
